@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
	margin: 0;
	padding: 0;
	font-family: 'Inconsolata', cursive;
}

body {
	background: #f7f7f7;
}

header {
	width: 100%;
	float: left;
	padding: 50px 0;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
}

header h1 {
	color: #333;
	margin: 0 0 20px;
	padding: 0;
	font-size: 40px;
}

header p {
	font-size: 20px;
}

article {
	width: 100%;
	float: left;
	padding: 40px;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
}

article a {
	color: #333;
}

article a:hover {
	color: #666;
	text-decoration: none;
}

article h1 {
	font-size: 24px;
}

article p {
	font-size: 20px;
}

article img {
	width: 100%;
	max-width: 100%;
}